html, body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Monaco", monospace;
  
}
.head{
  background-color:#101010;
  padding: 10px;
}

.title{
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
}
.subtitle{
  color: #f0f0ff;
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}

.body {
  text-align: center;
  width: 60%;

  margin: auto;
  width: 50%;
  padding: 0px;
}

.item {
  background-color:#101010;
  padding: 10px 40px 10px 40px;
  margin: 10px;

  border-radius: 15px;
}

a {
  padding: 200px;
  margin: 100px;
  background-color: lime;
  border: 10px lime;
  border-radius: 10px;
}