html, body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: "Monaco", monospace;
  
}
.head{
  background-color:#101010;
  padding: 10px;
}

.title{
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
}
.subtitle{
  color: #f0f0ff;
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}

.mods{
  padding: 2%;
  
  display: inline-grid;
  grid-template-columns: 30% 30% 30%;
  gap: 3%;
}


a{
  text-decoration: none;
}

.card {
  /* Add shadows to create the "card" effect */
  background-color: #101010;
  /*box-shadow: 4px 4px 16px 1px rgba(255,255,255,0.2);*/
  transition: 0.3s;
  width: 100%;

  border: 5px;
}

.card div {
  border: 5px;
}

img {
  border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 4px 16px 0 rgba(255,255,255,0.2);
}

/* Add some padding inside the card container */
.container {
  background-color: #101010;
  color: #ffffff;
  padding: 2px 16px;
}
